apiVersion: apps/v1
kind: Deployment
metadata:
  name: gv-prometheus
  namespace: gv-monitoring
spec:
  replicas: 1
  selector:
    matchLabels:
      app: gv-prometheus
  template:
    metadata:
      labels:
        app: gv-prometheus
    spec:
      containers:
        - name: prometheus
          image: prom/prometheus
          args:
            - "--config.file=/etc/prometheus/prometheus.yml"
            - "--storage.tsdb.path=/prometheus"
          ports:
            - containerPort: 9090
          volumeMounts:
            - name: config-volume
              mountPath: /etc/prometheus
            - name: storage-volume
              mountPath: /prometheus
      volumes:
        - name: config-volume
          configMap:
            name: prometheus-config
        - name: storage-volume
          emptyDir: {}