apiVersion: v1
kind: ConfigMap
metadata:
  name: prometheus-config
  namespace: gv-monitoring
data:
  prometheus.yml: |
    global:
      scrape_interval: 15s
    scrape_configs:
      - job_name: 'prometheus'
        static_configs:
          - targets: ['localhost:9090']
      - job_name: 'gv-api'
        static_configs:
          - targets: ['gv-api.gv-webstack.svc.cluster.local:8000']