apiVersion: argoproj.io/v1alpha1
kind: Application
metadata:
  name: gv-webstack
  namespace: argocd
spec:
  project: default
  source:
    repoURL: https://github.com/Geert-Vuurstaek/linuxweb.git
    targetRevision: main
    path: k8s
    directory:
      recurse: true
  destination:
    server: https://kubernetes.default.svc
    namespace: gv-webstack
  syncPolicy:
    automated:
      prune: true
      selfHeal: true
    syncOptions:
      - CreateNamespace=true
